*{
    margin: 0;padding: 0;
    box-sizing: border-box;

}
.login-container .login .hadding h1{
    font-size: 2rem;

}
.login-container .login .email input{
    border: 1.4px solid  rgb(36, 93, 147);
    border-radius: 10px;
}
.login-container .login .password input{
    border: 1.4px solid  rgb(36, 93, 147);
    border-radius: 10px;
}
.form .term p{
    margin-top: 20px;
    font-size: 0.9rem;
    margin-top: 10px;
    cursor: pointer;

}
.signup a{
 color:white;
 opacity: 0.7;
 font-size: 0.9rem;
}
.signup{
    display: flex;
    align-items: center;
}

.icons{
    font-size: 16px;
    border: 1.4px solid  rgb(36, 93, 147);
}